<!doctype html>
<!-- rtl -->
<!-- ltr -->
<html dir='ltr' lang="en">
    {{> ../app/includes/head }}
<body class="slides  chain   slow noPreload animated">
  <!-- <div class='loader'>
    <div class='loader-1'></div>
  </div> --> 
<div class="wrapper">
    <section class="slide intro introAbout">
        <div class="content">
            <div class="container">
                <div class="wrap">
                    <div class="box"></div>
                    <h1 class="bold" data-localize="qualifications_participations">qualifications & participations</h1>
                </div>
            </div>
        </div> 
        <div class="img-wrap">
            <div class="background " style="background: url('${ require(`../../assets/img/gallery/img-3.jpg`)}') "></div>
        </div>
    </section>
    <section class="slide about whiteSlide ">
        <div class="content">
            <div class="container ">
                <div class="wrap ">
                    <div class="grid noSpaces">
                        <div class="section-text margin-bottom-10 col-5-12 left">
                            <h1 data-localize="qualifications_title">my qualifications and some other words</h1>
                            <div class="grid later">
                                <div class="line-before col-2-12">
                                    <p>1986</p>
                                </div>
                                <div class="col-9-12">
                                    <p class="opacity-8 " data-localize="job_1986"> Higher Diploma (Origins
                                        of Education) Blackpool and The Fylde College, England
                                    </p>
                                </div>
                            </div>
                            <div class="grid later">
                                <div class="line-before col-2-12">
                                    <p>1983</p>
                                </div>
                                <div class="col-9-12">
                                    <p class="opacity-8 " data-localize="job_1983"> Bachelor of Business
                                        Administration - Eastern Washington University, USA
                                    </p>
                                </div>
                            </div>
                            <div class="grid later">
                                <div class="line-before col-2-12">
                                    <p>1981</p>
                                </div>
                                <div class="col-9-12">
                                    <p class="opacity-8 " data-localize="job_1981"> Diploma of Management -
                                        South Seattle College, USA
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="images col-7-12 ">
                            <div class="box"></div>

                            <div class="image-content">
                                <div class="background" style="background:url('${ require(`../../assets/img/gallery/img-3.jpg`)}'); ">
                                </div>
                            </div>
                            <div class="image-content">
                                <div class="background" style="background:url('${ require(`../../assets/img/gallery/img-4.jpg`)}'); ">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slide about whiteSlide ">
        <div class="content">
            <div class="container ">
                <div class="wrap ">
                    <div class="grid noSpaces ">
                        <div class="section-text margin-bottom-10 col-5-12 left ">
                            <h1 data-localize="Participations_title">Participations and other words </h1>
                            <div class="grid later">
                                <div class="line-before col-2-12">
                                    <p>2019</p>
                                </div>
                                <div class="col-9-12">
                                    <p class="opacity-8 " data-localize="job_2019"> Social Responsibility
                                        Forum - Scitech - “Reality and Hope in Social Responsibility”
                                        Research Paper
                                    </p>
                                    <p class="opacity-8 " data-localize="job_2019_1"> Education leadership
                                        meeting - Ministry of Education - Transformational Leadership -
                                        “Change by example” Research Paper
                                    </p>
                                    <p class="opacity-8 " data-localize="job_2019_2"> Forum - Ministry of
                                        Education - “Influence and Change” Research Paper
                                    </p>
                                    <p class="opacity-8 " data-localize="job_2019_3">International Women's
                                        Forum - My Journey with Change - Theater of the Secretariat
                                        of the Eastern Region
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="images col-7-12 ">
                            <div class="box"></div>

                            <div class="image-content">
                                <div class="background" style="background:url('${ require(`../../assets/img/gallery/img-3.jpg`)}') ">
                                </div>
                            </div>
                            <div class="image-content">
                                <div class="background" style="background:url('${ require(`../../assets/img/gallery/img-4.jpg`)}') ">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="grid later left">
                        <div class="line-before col-2-12">
                            <p>2018</p>
                        </div>
                        <div class="col-9-12">
                            <p class="opacity-8 " data-localize="job_2018"> Social Responsibility
                                Conference - Research paper submission: "The reality of social
                                responsibility” - Kingdom of Bahrain
                            </p>
                            <p class="opacity-8 " data-localize="job_2018_1"> Eastern Province Meeting
                                - Eastern Province Chamber - Research paper submission:
                                “Effect of Responsibility”
                            </p>
                            <p class="opacity-8 " data-localize="job_2018_2"> Youth Meeting - Prince
                                Mohammed bin Fahd University - Research paper submission:
                                “The Potential Strength in Youth”
                            </p>
                        </div>
                    </div>

                    <div class="grid later left">
                        <div class="line-before col-2-12">
                            <p>2017</p>
                        </div>
                        <div class="col-9-12">
                            <p class="opacity-8 " data-localize="job_2017"> Environmental Forum -
                                Ministry of Environment, Water and Agriculture - Research
                                paper submission: “Environmental Programs and Social Responsibility”
                            </p>
                            <p class="opacity-8 " data-localize="job_2017_1">Social Responsibility
                                Forum - Together we build - Scitech - Research paper
                                submission: “Social Responsibility and Youth”
                            </p>
                            <p class="opacity-8 " data-localize="job_2017_2"> Member of the
                                Development of Communication Committee - Ministry of Education -
                                Department of Education of the Eastern Province.
                            </p>
                        </div>
                    </div>

                    <div class="grid later left">
                        <div class="line-before col-2-12">
                            <p>2016</p>
                        </div>
                        <div class="col-9-12">
                            <p class="opacity-8 " data-localize="job_2016"> Social Responsibility
                                Forum - Ministry of Education - Research paper submission:
                                “Social Responsibility and Education”
                            </p>
                            <p class="opacity-8 " data-localize="job_2016_1">Arbitrator in the Public
                                Speaking Project - Ministry of Education.
                            </p>
                        </div>
                    </div>

                    <div class="grid later left">
                        <div class="line-before col-2-12">
                            <p>2015-2017 </p>
                        </div>
                        <div class="col-9-12">
                            <p class="opacity-8 " data-localize="job_2015_2017"> Member of the Leadership
                                Change Committee - Department of Education of the
                                Eastern Province

                            </p>
                        </div>
                    </div>

                    <div class="grid later left">
                        <div class="line-before col-2-12">
                            <p>2012 </p>
                        </div>
                        <div class="col-9-12">
                            <p class="opacity-8 " data-localize="job_2012"> Member of the Department
                                of Administrative Development - Department of Planning
                                and Development - Department of Education of the Eastern Province
                            </p>
                            <p class="opacity-8 " data-localize="job_2012_1"> Member of the Department
                                of Administrative Development - Department of Planning
                                and Development - Department of Education of the Eastern Province
                            </p>
                        </div>
                    </div>

                    <div class="grid later left">
                        <div class="line-before col-2-12">
                            <p>2004-2006 </p>
                        </div>
                        <div class="col-9-12">
                            <p class="opacity-8 " data-localize="job_2004_2006">Member of the Change
                                Committee - Khafji Education Office
                            </p>
                        </div>
                    </div>

                    <div class="grid later left">
                        <div class="line-before col-2-12">
                            <p>2003-2005
                            </p>
                        </div>
                        <div class="col-9-12">
                            <p class="opacity-8 " data-localize="job_2003_2005"> AlKhafji Beautifying
                                Committee - AlKhafji, Saudi Arabia
                            </p>
                            <p class="opacity-8 " data-localize="job_2003_2005_1"> Founding member of the
                                Center for Learning Disabilities - AlKhafji, Saudi Arabia
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slide about readmore whiteSlide ">
        <div class="content ">
            <div class="container ">
                <div class="wrap ">
                    <div class="grid noSpaces">
                        <div class="section-text margin-bottom-10 col-5-12 left">
                            <h1 data-localize="about_title">lorem ispium dolor sit amet, consectetur</h1>
                            <p class="opacity-8 " data-localize="about_subtitle_1">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a href="contact.html" class="button square" data-localize="see_our_portfolio">contact
                                me</a>
                        </div>

                        <div class="images col-7-12 ">
                            <div class="box"></div>
                            <div class="image-content z-index-2">
                                <div class="background" style="background:url('${ require(`../../assets/img/gallery/img-3.jpg`)}') ">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slide clients whiteSlide ">
        <div class="content">
            <div class="container ">
                <div class="wrap ">
                    <h1 class="upperCase" data-localize="our_clients">our clients</h1>
                    <p class="small margin-bottom-7" data-localize="our_clients_subtitle">Lorem ipsum dolor sit,
                        amet consectetur adipisicing elit</p>
                    <div class="grid later ">
                        <div class="col-3-12 col-phablet-1-4 col-phone-1-1 margin-bottom-2">
                            <img src="${ require('../../assets/img/clients/logo_1.png') }">
                        </div>
                        <div class="col-3-12 col-phablet-1-4  col-phone-1-1 margin-bottom-2">
                            <img src="${ require('../../assets/img/clients/logo_2.png') }">
                        </div>
                        <div class="col-3-12 col-phablet-1-4 col-phone-1-1 margin-bottom-2">
                            <img src="${ require('../../assets/img/clients/logo_3.png') }">
                        </div>
                        <div class="col-3-12 col-phablet-1-4 col-phone-1-1 margin-bottom-2">
                            <img src="${ require('../../assets/img/clients/logo_4.png') }">
                        </div>
                    </div>
                    <div class="grid later margin-top-1">
                        <div class="col-3-12 col-phablet-1-4 col-phone-1-1 margin-bottom-2">
                            <img src="${ require('../../assets/img/clients/logo_5.png') }">
                        </div>
                        <div class="col-3-12 col-phablet-1-4 col-phone-1-1 margin-bottom-2">
                            <img src="${ require('../../assets/img/clients/logo_6.png') }">
                        </div>
                        <div class="col-3-12 col-phablet-1-4 col-phone-1-1 margin-bottom-2">
                            <img src="${ require('../../assets/img/clients/logo_1.png') }">
                        </div>
                        <div class="col-3-12 col-phablet-1-4 col-phone-1-1 margin-bottom-2">
                            <img src="${ require('../../assets/img/clients/logo_2.png') }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
  
</body>

</html>   